# packages

### scipy-notebook
aiobotocore
boto3==1.17.11
beautifulsoup4
bokeh
cloudpickle
cython
dask
decorator<5
dill
distributed
h5py==2.9.0
idna<3
ipywidgets
jupyter-bokeh
jupyter-server==1.4.1
jupyterlab
jupyterlab-git
kafka-python==2.0.2
matplotlib==3.4.1
nbclassic==0.2.6
numpy==1.19.2
pandas==1.2.4
plotly
s3fs
scipy==1.6.2
scikit-image
scikit-learn==0.24.1
seaborn
sqlalchemy
